# Use this .env file for production
CONTAINER_NAME=cpputest_intro_production

SRC_PATH_HOST=${PWD}/cpputest_intro
BUILD_PATH_HOST=${PWD}/build_production

SRC_PATH_TARGET=/usr/src/cpputest_intro
BUILD_PATH_TARGET=/usr/src/build_production

# Can specify custom UID:GID
# USERID=1000
# GROUPID=1000
