# Use this .env file for testing
CONTAINER_NAME=cpputest_intro_test

SRC_PATH_HOST=${PWD}/cpputest_intro
BUILD_PATH_HOST=${PWD}/build_test

SRC_PATH_TARGET=/usr/src/cpputest_intro
BUILD_PATH_TARGET=/usr/src/build_test

# Can specify custom UID:GID
# USERID=1000
# GROUPID=1000
